{% extends 'base.html' %}
{% block title %}New Prediction{% endblock %}

{% block content %}
<h1 class="mt-14 text-2xl font-semibold text-gray-900 dark:text-white">New Prediction</h1>
<div class="p-4 mt-4 bg-gray-400 dark:bg-gray-800 dark:border-gray-700 w-3/5 rounded-lg">
  <form class="max-w-sm" method="post">
    <label for="comment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Statement</label>
    <textarea id="comment" rows="4" name="comment" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500" placeholder="Leave a comment...">{{ request.form['comment'] }}</textarea>
    <button type="submit" value="save" class="mt-2 flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
      Predict
    </button>
  </form>
</div>

{% if result %}
<div class="mt-4 p-4 bg-gray-200 dark:bg-gray-700 rounded-lg">
  <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Prediction Result</h2>
  <p class="mt-2 text-gray-900 dark:text-white"><strong>Comment:</strong> {{ result.comment }}</p>
  <p class="mt-2 text-gray-900 dark:text-white"><strong>Cleaned Text:</strong> {{ result.cleaned_text }}</p>
  <p class="mt-2 text-gray-900 dark:text-white"><strong>Sentiment Score:</strong> {{ result.sentiment_score }}</p>
  <p class="mt-2 text-gray-900 dark:text-white"><strong>Sentiment Label:</strong> {{ result.sentiment_label }}</p>
</div>
{% endif %}
{% endblock %}