{% extends 'layouts/guest.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-grey rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Login to your account
              </h1>
              <form class="space-y-4 md:space-y-6 bg-gray-100 text-gray-800 p-6 rounded-lg shadow-md"" method="post">
                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                      <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-black focus:border-black block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-black dark:focus:border-black" placeholder="name@company.com" required="">
                  </div>
                  <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-black focus:border-black block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-black dark:focus:border-black" required="">
                  </div>
                  <button type="submit" style="width: 100%; background-color: red; color: white; border: none; border-radius: 0.5rem; font-size: 0.875rem; padding: 0.625rem 1.25rem; text-align: center;" onmouseover="this.style.backgroundColor='red'" onmouseout="this.style.backgroundColor='red'">Login</button>
                  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                     Don't have an account? <a href="{{ url_for('auth.register') }}" class="font-medium text-pink-500 hover:underline dark:text-pink-400">Create an account</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}